@font-face {
	font-family: 'munkey';
	src:url('fonts/munkey.eot?-427cxl');
	src:url('fonts/munkey.eot?#iefix-427cxl') format('embedded-opentype'),
		url('fonts/munkey.woff?-427cxl') format('woff'),
		url('fonts/munkey.ttf?-427cxl') format('truetype'),
		url('fonts/munkey.svg?-427cxl#munkey') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="m-"], [class*=" m-"] {
	font-family: 'munkey';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.m-arrow-down:before {
	content: "\e600";
}

.m-arrow-left:before {
	content: "\e601";
}

.m-arrow-right:before {
	content: "\e602";
}

.m-arrow-up:before {
	content: "\e603";
}

.m-bell:before {
	content: "\e604";
}

.m-book:before {
	content: "\e605";
}

.m-brush:before {
	content: "\e606";
}

.m-bug:before {
	content: "\e607";
}

.m-caret-down:before {
	content: "\e608";
}

.m-caret-left:before {
	content: "\e609";
}

.m-caret-right:before {
	content: "\e60a";
}

.m-caret-up:before {
	content: "\e60b";
}

.m-check:before {
	content: "\e60c";
}

.m-circle-down:before {
	content: "\e60d";
}

.m-circle-left:before {
	content: "\e60e";
}

.m-circle-right:before {
	content: "\e60f";
}

.m-circle-up:before {
	content: "\e610";
}

.m-circle:before {
	content: "\e611";
}

.m-clock:before {
	content: "\e612";
}

.m-code:before {
	content: "\e613";
}

.m-contract:before {
	content: "\e614";
}

.m-copy:before {
	content: "\e615";
}

.m-desktop:before {
	content: "\e616";
}

.m-download:before {
	content: "\e617";
}

.m-ellipsis:before {
	content: "\e618";
}

.m-enter:before {
	content: "\e619";
}

.m-expand:before {
	content: "\e61a";
}

.m-eye:before {
	content: "\e61b";
}

.m-file-code:before {
	content: "\e61c";
}

.m-file-copy:before {
	content: "\e61d";
}

.m-file-css:before {
	content: "\e61e";
}

.m-file-html:before {
	content: "\e61f";
}

.m-file-js:before {
	content: "\e620";
}

.m-file-php:before {
	content: "\e621";
}

.m-file-psd:before {
	content: "\e622";
}

.m-file-swf:before {
	content: "\e623";
}

.m-file-text:before {
	content: "\e624";
}

.m-files:before {
	content: "\e625";
}

.m-flask:before {
	content: "\e626";
}

.m-folder-open:before {
	content: "\e627";
}

.m-folder:before {
	content: "\e628";
}

.m-form:before {
	content: "\e629";
}

.m-gear:before {
	content: "\e62a";
}

.m-graph:before {
	content: "\e62b";
}

.m-group:before {
	content: "\e62c";
}

.m-help:before {
	content: "\e62d";
}

.m-info:before {
	content: "\e62e";
}

.m-link:before {
	content: "\e62f";
}

.m-lock:before {
	content: "\e630";
}

.m-moon:before {
	content: "\e631";
}

.m-munkey:before {
	content: "\e632";
}

.m-phone:before {
	content: "\e633";
}

.m-photo:before {
	content: "\e634";
}

.m-pop-out:before {
	content: "\e635";
}

.m-puzzle:before {
	content: "\e636";
}

.m-refresh:before {
	content: "\e637";
}

.m-search:before {
	content: "\e638";
}

.m-squares:before {
	content: "\e639";
}

.m-sun:before {
	content: "\e63a";
}

.m-template:before {
	content: "\e63b";
}

.m-times:before {
	content: "\e63c";
}

.m-trash:before {
	content: "\e63d";
}

.m-warning:before {
	content: "\e63e";
}

