/* line 5, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*==============================
=            Colors            =
==============================*/
/*-----  End of Colors  ------*/
/*============================
=            Base            =
============================*/
/* line 23, ../sass/screen.scss */
body {
  background: #ffffff;
}

/*-----  End of Base  ------*/
/*==================================
=            Typography            =
==================================*/
/* line 36, ../sass/screen.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #333841;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
}

/* line 45, ../sass/screen.scss */
.m-lg {
  font-size: 150%;
}

/* line 46, ../sass/screen.scss */
.m-2x {
  font-size: 200%;
}

/* line 47, ../sass/screen.scss */
.m-3x {
  font-size: 300%;
}

/* line 48, ../sass/screen.scss */
.m-4x {
  font-size: 400%;
}

/* line 49, ../sass/screen.scss */
.m-5x {
  font-size: 500%;
}

/* line 51, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
}

/* line 55, ../sass/screen.scss */
h1 {
  font-size: 4em;
  margin: 0 0 1em;
}

/* line 56, ../sass/screen.scss */
h2 {
  font-size: 3.5em;
  margin: 0 0 1em;
}

/* line 57, ../sass/screen.scss */
h3 {
  font-size: 3em;
  margin: 0 0 1em;
}

/* line 58, ../sass/screen.scss */
h4 {
  font-size: 2em;
  margin: 0 0 1em;
}

/* line 59, ../sass/screen.scss */
h5 {
  font-size: 1.5em;
  margin: 0 0 1em;
}

/* line 60, ../sass/screen.scss */
h6 {
  font-size: 1em;
  margin: 0 0 1em;
}

@media (min-width: 800px) {
  /* line 63, ../sass/screen.scss */
  h1 {
    font-size: 5em;
    margin: 0 0 1em;
  }

  /* line 64, ../sass/screen.scss */
  h2 {
    font-size: 4em;
    margin: 0 0 1em;
  }

  /* line 65, ../sass/screen.scss */
  h3 {
    font-size: 3em;
    margin: 0 0 1em;
  }

  /* line 66, ../sass/screen.scss */
  h4 {
    font-size: 2em;
    margin: 0 0 1em;
  }

  /* line 67, ../sass/screen.scss */
  h5 {
    font-size: 1.5em;
    margin: 0 0 1em;
  }

  /* line 68, ../sass/screen.scss */
  h6 {
    font-size: 1em;
    margin: 0 0 1em;
  }
}
/* line 71, ../sass/screen.scss */
p {
  line-height: 1.5em;
  margin: 0 0 2em;
}

/* line 76, ../sass/screen.scss */
.sub {
  font-size: 80%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/*-----  End of Typography  ------*/
/*==============================
=            Header            =
==============================*/
/* line 90, ../sass/screen.scss */
header {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 4em 3em;
}
/* line 12, ../../../../../../Library/Ruby/Gems/1.8/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
header:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 94, ../sass/screen.scss */
header ul:after {
  content: ' ';
  display: block;
  clear: both;
  padding: 1em 0;
}
/* line 100, ../sass/screen.scss */
header li {
  float: left;
  padding: .5em;
}

/*-----  End of Header  ------*/
/*============================
=            Main            =
============================*/
/* line 114, ../sass/screen.scss */
main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0;
  margin: 0 auto;
}
/* line 12, ../../../../../../Library/Ruby/Gems/1.8/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
main:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 117, ../sass/screen.scss */
main ul {
  padding: 0;
  margin: 0;
}
/* line 120, ../sass/screen.scss */
main ul:after {
  content: ' ';
  display: block;
  clear: both;
}
/* line 126, ../sass/screen.scss */
main li {
  width: 50%;
  float: left;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -moz-transition-property: color, -moz-transform;
  -o-transition-property: color, -o-transform;
  -webkit-transition-property: color, -webkit-transform;
  transition-property: color, transform;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 1em;
  float: left;
  text-align: center;
}
/* line 135, ../sass/screen.scss */
main li p {
  font-size: 18px;
  color: #aaa;
  margin-top: 1em;
}
/* line 140, ../sass/screen.scss */
main li span {
  font-size: 3em;
}
/* line 143, ../sass/screen.scss */
main li:hover {
  -moz-transform: scale(1.15, 1.15);
  -ms-transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
  transform: scale(1.15, 1.15);
}
/* line 145, ../sass/screen.scss */
main li:hover p, main li:hover span {
  color: #87bc29;
}
@media (min-width: 800px) {
  /* line 151, ../sass/screen.scss */
  main li {
    width: 25%;
    float: left;
  }
}

/*-----  End of Main  ------*/
/*==============================
=            Footer            =
==============================*/
/* line 165, ../sass/screen.scss */
footer {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  text-align: center;
}
/* line 12, ../../../../../../Library/Ruby/Gems/1.8/gems/susy-2.1.3/sass/susy/output/support/_clearfix.scss */
footer:after {
  content: " ";
  display: block;
  clear: both;
}

/*-----  End of Footer  ------*/
